#list-view-id {
    -fx-min-width: 600;
    -fx-max-width:800;
    -fx-pref-width: 700;
}

#title {
    -fx-font-size:25;
}

#background {
    -fx-background-color:#121212;
}

.button {
    -fx-background-color:#121212;
    -fx-border-color:#777;
    -fx-text-fill:white;
    -fx-border-radius:5;
}

.button:hover {
    -fx-border-color:white;
}

.button:pressed {
    -fx-border-color:#777;
}
